<div class="row">
  {% for event in events %}
  <div class="col-6 d-flex align-items-stretch">
    <div class="card" style="width: 30rem;">
      <img src={{event.img_url}} class="card-img-top" alt="...">
      <div class="card-body">
        <a href={{url_for('eventbp.singleevent', id=event.id)}} class="stretched-link"><h5 class="card-title">{{event.title}}</h5></a>
        <p class="card-text">{{event.description}}</p>
        <small><i class="fas fa-map-marked-alt"></i> {{event.venue_name}}, {{event.location}}</small>
      </div>
      <div class="card-footer">
        <small class="text-muted"><i class="fas fa-clock"></i> {{event.date}} {{event.time}}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>